<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>message form</title>
</head>
<body>
    <form method="POST" action="/new">
        <label for="name">Username: </label>
        <input type="text" name="user" id="user" maxlength="10" required>
        <label for="message">message:</label>
        <textarea name="message" id="message" maxlength="50" required></textarea>
        <input type="submit" value="post"/>
     </form> 
     <% if(locals.errors) {%>
     <div class="errors">
        <% errors.map(error => { %>
            <div><%= error.msg %></div>        
        <% }) %>
     </div>
     <% } %> 
     <a href="../" class="back-link">go back</a>
</body>
</html>